<section class='character tab skills {{tab.cssClass}}' data-group='primary' data-tab='skills'>
  {{#unless isDevelop}}
    <ol class="skill-list">
      <div class='gear-header primBackCol skill-grid'>
        <div class='new-row left'>{{localize 'AOV.name'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.xpAbbrHint'}}">{{localize 'AOV.xpAbbr'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.total'}}">%</div>
        <div class='centre'>
          <a data-action="toggleActor" data-property = "uncommon" data-tooltip="{{localize 'AOV.hideUncommon'}}">
            {{#if system.uncommon}}
              <i class="fa-solid fa-magnifying-glass-plus"></i>
            {{else}}
              <i class="fa-solid fa-magnifying-glass-minus"></i>
            {{/if}}
          </a>
        </div>
      </div>
      <div class='gear-header primBackCol skill-grid'>
        <div class='new-row left'>{{localize 'AOV.name'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.xpAbbrHint'}}">{{localize 'AOV.xpAbbr'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.total'}}">%</div>
        <div class='centre'>
          <a data-action="toggleActor" data-property = "alphaSkills" data-tooltip="{{localize 'AOV.alphaSkill'}}">
            {{#if system.alphaSkills}}
              <i class="fa-solid fa-arrow-down-short-wide"></i>
            {{else}}
              <i class="fa-solid fa-arrow-down-a-z"></i>
            {{/if}}
          </a>
        </div>
      </div>
    </ol>

    <ol class='skill-list'>
      {{#each skills as |item id|}}
        <li class='item skill-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
          {{#if isType}}
            {{#unless (eq item.system.category 'agi')}}
              <div class="new-row"></div>
              <br>
            {{/unless}}
            <div class="new-row gear-name left bold upper">{{item.system.label}}</div>
            <div></div>
            <div class='gear-name centre upper'>{{item.system.total}}</div>
          {{else}}
            <div class="new-row gear-name left rollable" data-tooltip='{{localize "AOV.viewDoc" type=(localize "TYPES.Item.skill")}}'
              data-action='viewDoc'>{{item.system.label}}</div>
            {{#unless item.system.noXP}}
              <div class='gear-name centre' data-action="itemToggle" data-property="xpCheck"><a>
                {{#if item.system.xpCheck}}
                  <i class="fa-regular fa-square-check"></i>
                {{else}}
                  <i class="fa-regular fa-square"></i>
                {{/if}}
              </a></div>
            {{else}}
              <div></div>
            {{/unless}}
            <div class='gear-name centre rollable terIcon' data-action="diceroll" data-property="skill" data-skill-id="{{item._id}}" data-tooltip="AOV.rolls.skillRoll">{{item.system.total}}</div>
            {{#if ../isLocked}}
              <div class='gear-name centre' data-action="itemToggle" data-property="augment"><a>
                {{#if item.system.augment}}
                  <i data-tooltip="{{localize 'AOV.augmentUsed'}}" class="terIcon fa-solid fa-hand-holding-magic"></i>
                {{/if}}
              </div>
            {{else}}
              <div class='gear-controls centre'>
                <a class='item-toggle centre' data-tooltip='{{localize "AOV.deleteDoc" type=(localize "TYPES.Item.skill")}}'
                  data-action="deleteDoc">
                  <i class='fas fa-trash'></i>
                </a>
              </div>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
    </ol>
  {{else}}
    <ol class='skillDev-list'>
      <div class='gear-header primBackCol skillDev-grid'>
        <div class='new-row left'>{{localize 'AOV.name'}}</div>
        <div class='centre'>{{localize 'AOV.category'}}</div>
        <div class='centre'>{{localize 'AOV.base'}}</div>
        <div class='centre'>{{localize 'AOV.exp'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.homeland'}}">{{localize 'AOV.homelandAbbr'}}</div>
        <div class='centre' data-tooltip="{{localize 'TYPES.Item.hisotry'}}">{{localize 'AOV.historyAbbr'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.personal'}}">{{localize 'AOV.personalAbbr'}}</div>
        <div class='centre' data-tooltip="{{localize 'TYPES.Item.devotion'}}">{{localize 'AOV.devotionAbbr'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.effects'}}">{{localize 'AOV.effectsShort'}}</div>
        <div class='centre' data-tooltip="{{localize 'AOV.category'}}">{{localize 'AOV.categoryAbbr'}}</div>
        <div class='centre'>{{localize 'AOV.total'}}</div>
      </div>
      {{#each devSkills as |item id|}}
        {{#if ../isCreate}}
          <li class='item skillDev-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
            <div class="new-row gear-name left right-line truncate rollable" data-tooltip='{{item.system.label}}'
              data-action='viewDoc'>{{item.system.label}}</div>
            <div class='gear-name centre right-line truncate' data-tooltip='{{item.system.catLabel}}'>{{item.system.catLabel}}</div>
            <div class='gear-name centre right-line skill-inline'><input class="skillDev-input centre" name='system.base'
              type='number' value='{{item.system.base}}' data-field="base"/></div>
            <div class='gear-name centre right-line skill-inline'><input class="skillDev-input centre" name='system.xp'
              type='number' value='{{item.system.xp}}' data-field="xp"/></div>
            <div class='gear-name centre right-line skill-inline {{#unless (eq item.system.home 0)}}secBackCol{{/unless}}'><input class="skillDev-input centre" name='system.home'
              type='number' value='{{item.system.home}}' data-field="home"/></div>
            <div class='gear-name centre right-line skill-inline {{#unless (eq item.system.history 0)}}secBackCol{{/unless}}'><input class="skillDev-input centre" name='system.history'
              type='number' value='{{item.system.history}}' data-field="history"/></div>
            <div class='gear-name centre right-line skill-inline {{#unless (eq item.system.pers 0)}}secBackCol{{/unless}}'><input class="skillDev-input centre" name='system.pers'
              type='number' value='{{item.system.pers}}' data-field="pers"/></div>
            <div class='gear-name centre right-line skill-inline {{#unless (eq item.system.dev 0)}}secBackCol{{/unless}}'><input class="skillDev-input centre" name='system.dev'
              type='number' value='{{item.system.dev}}' data-field="dev"/></div>
            <div class='gear-name centre right-line terIcon'>{{item.system.effects}}</div>
            <div class='gear-name centre right-line terIcon'>{{item.system.catBonus}}</div>
            <div class='gear-name centre'>{{item.system.total}}</div>
          </li>
        {{else}}
          <li class='item skillDev-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
            <div class="new-row gear-name left right-line truncate rollable {{#if item.system.xpCheck}}creation{{/if}}" data-tooltip='{{item.system.label}}'
              data-action='viewDoc'>{{item.system.label}}</div>
            <div class='gear-name centre right-line truncate' data-tooltip="{{item.system.catLabel}}">{{item.system.catLabel}}</div>
            <div class='gear-name centre right-line'>{{item.system.base}}</div>
            <div class='gear-name centre right-line skill-inline'><input class="skillDev-input centre" name='system.xp'
              type='number' value='{{item.system.xp}}' data-field="xp"/></div>
            <div class='gear-name centre right-line {{#unless (eq item.system.home 0)}}secBackCol{{/unless}}'>{{item.system.home}}</div>
            <div class='gear-name centre right-line {{#unless (eq item.system.history 0)}}secBackCol{{/unless}}'>{{item.system.history}}</div>
            <div class='gear-name centre right-line {{#unless (eq item.system.pers 0)}}secBackCol{{/unless}}'>{{item.system.pers}}</div>
            <div class='gear-name centre right-line {{#unless (eq item.system.dev 0)}}secBackCol{{/unless}}'>{{item.system.dev}}</div>
            <div class='gear-name centre right-line terIcon'>{{item.system.effects}}</div>
            <div class='gear-name centre right-line terIcon'>{{item.system.catBonus}}</div>
            <div class='gear-name centre'>{{item.system.total}}</div>
        {{/if}}
      {{/each}}
    </ol>
  {{/unless}}
</section>