<section class='character tab stats {{tab.cssClass}}' data-group='primary' data-tab='stats'>


  <ol class='gear-list'>
    {{!-- Stats Grid --}}
    <li class='gear-header primBackCol statsgrid'>
      <div class='left'>{{localize 'AOV.name'}}</div>
      <div class='centre'>{{localize 'AOV.base'}}</div>
      <div class='centre'>{{localize 'AOV.age'}}</div>
      <div class='centre'>{{localize 'AOV.exp'}}</div>
      <div class='centre'>{{localize 'AOV.effects'}}</div>
      <div class='centre'>{{localize 'AOV.total'}}</div>
      <div class='centre'>{{localize 'AOV.dice'}}</div>
      <div class='centre' style="grid-column: 8 / 11;">{{localize 'AOV.minMax'}}</div>
      <div class='centre'>
        <a class="icon20 secIcon" data-action="recalc" data-tooltip="{{ localize 'AOV.recalcBase'}}">
          <i class="fas fa-arrows-rotate"></i>
        </a>
      </div>

    </li>

    {{#each system.abilities as |ability key|}}
      <li class='statsgrid' data-characteristic="{{key}}">
        <div class="stat-val bold left rollable new-row">{{ability.label}}</div>
      {{#if ../allowEdit}}
        <div class='stat-val centre'>
          <input class="stat-val" name='system.abilities.{{key}}.value' type='number' value='{{ability.value}}'/>
        </div>
      {{else}}
        <div class='stat-val centre'>{{ability.value}}</div>
      {{/if}}

      {{#if ../isLocked}}
        <div class='stat-val centre'>{{ability.age}}</div>
        <div class='stat-val centre'>{{ability.xp}}</div>
      {{else}}
        <div class='stat-val centre'>
          <input class="stat-val" name='system.abilities.{{key}}.age' type='number' value='{{ability.age}}'/>
        </div>
        <div class='stat-val centre'>
          <input class="stat-val" name='system.abilities.{{key}}.xp' type='number' value='{{ability.xp}}'/>
        </div>
      {{/if}}
      <div class='stat-val centre terIcon'>{{ability.effects}}</div>
      <div class='stat-val centre terIcon'>{{ability.total}}</div>
      {{#if ../isLocked}}
        <div class='stat-val centre terIcon'>{{ability.formula}}</div>
        <div class='stat-val centre terIcon'>{{ability.min}}</div>
        <div class='stat-val centre terIcon'>/</div>
        <div class='stat-val centre terIcon'>{{ability.max}}</div>
      {{else}}
        {{#unless (eq ../system.speciesID "")}}
          <div class='stat-val centre terIcon'>{{ability.formula}}</div>
          <div class='stat-val centre terIcon'>{{ability.min}}</div>
          <div class='stat-val centre terIcon'>/</div>
          <div class='stat-val centre terIcon'>{{ability.max}}</div>
        {{else}}
          <div class='stat-val centre'>
             <input class="stat-val" name='system.abilities.{{key}}.formula' type='text' value='{{ability.formula}}'/>
          </div>
          <div class='stat-val centre terIcon'>
             <input class="stat-val" name='system.abilities.{{key}}.min' type='number' value='{{ability.min}}'/>
          </div>
          <div class='stat-val centre terIcon'>/</div>
          <div class='stat-val centre terIcon'>
             <input class="stat-val" name='system.abilities.{{key}}.max' type='number' value='{{ability.max}}'/>
          </div>
        {{/unless}}
      {{/if}}
    </li>
    {{/each}}
    <br>

    {{!-- Reputation, Status --}}
    <li class='gear-header {{#if singleColour}}primBackCol{{else}}secBackCol{{/if}} statsgrid'>
      <div class='left'></div>
      <div class='centre'>{{localize 'AOV.base'}}</div>
      <div class='centre' data-tooltip="{{localize 'AOV.history'}}">{{localize 'AOV.historyAbbr'}}</div>
      <div class='centre'>{{localize 'AOV.exp'}}</div>
      <div class='centre'>{{localize 'AOV.effects'}}</div>
      <div class='centre'>{{localize 'AOV.total'}}</div>
    </li>

    {{!-- Reputation --}}
    <li class='statsgrid'>
      <div class="stat-val bold left new-row">{{localize 'AOV.reput'}}</div>
      {{#if allowEdit}}
      <div class='stat-val centre'>
        <input class="stat-input" name='system.reputation.base' type='number' value='{{system.reputation.base}}'/>
      </div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.reputation.history' type='number' value='{{system.reputation.history}}'/>
      </div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.reputation.xp' type='number' value='{{system.reputation.xp}}'/>
      </div>
      {{else}}
        <div class='stat-val centre'>{{system.reputation.base}}</div>
        <div class='stat-val centre'>{{system.reputation.history}}</div>
        {{#if isLocked}}
          <div class='stat-val centre'>{{system.reputation.xp}}</div>
        {{else}}
          <div class='stat-val centre'>
            <input class="stat-input" name='system.reputation.xp' type='number' value='{{system.reputation.xp}}'/>
          </div>
        {{/if}}
      {{/if}}
      <div class='stat-val centre terIcon'>{{system.reputation.effects}}</div>
      <div class='stat-val centre terIcon'>{{system.reputation.total}}</div>
    </li>

    {{!-- Status --}}
    <li class='statsgrid'>
      <div class="stat-val bold left new-row">{{localize 'AOV.status'}}</div>
      {{#if allowEdit}}
        <div class='stat-val centre'>
          <input class="stat-input" name='system.status.base' type='number' value='{{system.status.base}}'/>
        </div>
        <div></div>
        <div class='stat-val centre'>
          <input class="stat-input" name='system.status.xp' type='text' value='{{system.status.xp}}'/>
        </div>
      {{else}}
        <div class='stat-val centre'>{{system.status.base}}</div>
        <div></div>
        {{#if isLocked}}
          <div class='stat-val centre'>{{system.status.xp}}</div>
        {{else}}
          <div class='stat-val centre'>
            <input class="stat-input" name='system.status.xp' type='text' value='{{system.status.xp}}'/>
          </div>
        {{/if}}
      {{/if}}
      <div class='stat-val centre terIcon'>{{system.status.effects}}</div>
      <div class='stat-val centre terIcon'>{{system.status.total}}</div>
    </li>

    <br>


    {{!-- Species, Homeland --}}
    <li class="classList" data-item-id='{{system.speciesID}}' data-document-class='Item'>
      <div class="stat-val bold {{#if isCreate}}creation{{/if}}">{{localize 'TYPES.Item.species'}}</div>
      {{#unless (eq system.speciesID "")}}
        <div class="stat-val terIcon rollable" data-action='viewDoc'>{{system.speciesName}}
          {{#if isCreate}}
            <a class="secIcon" style="padding-left: 10px;" data-action="resetSpecies" data-tooltip="{{ localize 'AOV.resetSpecies'}}"><i class="far fa-times-circle"></i></a>
          {{/if}}
        </div>
      {{else}}
        {{#if isLocked}}
          <div class="stat-val ">{{system.species}}</div>
        {{else}}
          <div class="stat-val"><input class="stat-input" style="text-align: left;" name="system.species" type="text" value="{{system.species}}"/></div>
        {{/if}}
      {{/unless}}
      <div></div>
      <div class="stat-val bold">{{localize 'AOV.social'}}</div>
      {{#if isLocked}}
        <div class="stat-input centre">{{socialName}}</div>
      {{else}}
        <div class="centre">
          <select class="stat-input" data-handle-change name="system.social">
            {{selectOptions socialOptions selected=actor.system.social}}
          </select>
        </div>
      {{/if}}
    </li>

    {{!-- Homeland --}}
    <li class="classList" data-item-id='{{system.homeID}}' data-document-class='Item'>
      <div class="stat-val bold {{#if isCreate}}creation{{/if}}">{{localize 'TYPES.Item.homeland'}}</div>
      {{#unless (eq system.homeID "")}}
        <div class="stat-val terIcon rollable" data-action='viewDoc'>{{system.homeName}}
          {{#if isCreate}}
            <a class="secIcon" style="padding-left: 10px;" data-action="resetHomeland" data-tooltip="{{ localize 'AOV.resetHomeland'}}"><i class="far fa-times-circle"></i></a>
          {{/if}}
        </div>
      {{else}}
        {{#if isLocked}}
          <div class="stat-val ">{{system.home}}</div>
        {{else}}
          <div class="stat-val"><input class="stat-input" style="text-align: left;" name="system.home" type="text" value="{{system.home}}"/></div>
        {{/if}}
      {{/unless}}

    <div></div>

    {{!-- Vaðmál --}}
      <div class="stat-val bold left">{{localize 'AOV.vadmal'}}</div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.vadmal' type='number' value='{{system.vadmal}}'/>
      </div>
    </li>
  </ol>

  <br>

  {{!-- Character Creation Options --}}
  {{#if isCreate}}
    <div class="effects-grid gear-header creation">
       <div style="grid-column: 1 / 4;">{{ localize 'AOV.charCreate' }}</div>
     </div>
    <div class="statsgrid">
        <div class="stat-val bold new-row" style="grid-column: 1 / 3; padding-top:3px;">{{localize 'AOV.characteristics'}}</div>
          {{#if useRandom}}
            <div class="stat-val rollable centre">
              <a class="icon20 secIcon" data-action="rollStats" data-type="random" data-tooltip="{{ localize 'AOV.rollRandom'}}">
                <i class="fas fa-dice"></i>
              </a>
            </div>
          {{/if}}
          {{#if useAssign}}
            <div class="stat-val rollable centre">
              <a class="icon20 secIcon" data-action="rollStats" data-type="assign" data-tooltip="{{ localize 'AOV.assignDice'}}">
                <i class="fas fa-dice-d6"></i>
              </a>
            </div>
          {{/if}}
          {{#if usePoints}}
            <div class="stat-val rollable centre">
              <a class="icon20 secIcon" data-action="rollStats" data-type="points" data-tooltip="{{ localize 'AOV.usePoints'}}">
                <i class="fas fa-pencil"></i>
              </a>
            </div>
          {{/if}}

        <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.history'}}</div>
        <div class="stat-val rollable centre">
            <a class="icon20 secIcon"  data-action="history" data-tooltip="{{ localize 'AOV.historyHint'}}"><i class="fas fa-scroll-old"></i></a>
        </div>
        <div></div>
        <div class="stat-val rollable centre">
            <a class="icon20 priIcon fade"  data-action="resethistory" data-tooltip="{{ localize 'AOV.historyresetHint'}}"><i class="fas fa-broom-wide"></i></a>
        </div>


        <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.personalSkills'}}</div>
        <div class="stat-val rollable centre">
            <a class="icon20 secIcon"  data-action="persSkills" data-tooltip="{{ localize 'AOV.personalSkillsHint'}}"><i class="far fa-list-check"></i></a>
        </div>

        <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.devotions'}}</div>
        <div class="stat-val rollable centre">
            <a class="icon20 secIcon"  data-action="devotions" data-tooltip="{{ localize 'AOV.devotionsHint'}}"><i class="fas fa-thunderstorm"></i></a>
        </div>

        <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.family'}}</div>
        <div class="stat-val rollable centre">
            <a class="icon20 secIcon"  data-action="family" data-tooltip="{{ localize 'AOV.familyHint'}}"><i class="fas fa-family"></i></a>
        </div>

        <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'TYPES.Actor.farm'}}</div>
        <div class="stat-val rollable centre">
            <a class="icon20 secIcon"  data-action="farm" data-tooltip="{{ localize 'AOV.farmHint'}}"><i class="fas fa-cow"></i></a>
        </div>

        <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.weapons'}}</div>
        <div class="stat-val rollable centre">
            <a class="icon20 secIcon"  data-action="weapons" data-tooltip="{{ localize 'AOV.weaponsHint'}}"><i class="fas fa-swords"></i></a>
        </div>

        <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.distFeatures'}}</div>
        <div class="stat-val rollable centre">
            <a class="icon20 secIcon"  data-action="features" data-tooltip="{{ localize 'AOV.distFeatures'}}"><i class="fas fa-user-pen"></i></a>
        </div>

    </div>

    <br>
  {{/if}}

 {{!-- Character Development Phase --}}
  {{#if isDevelop}}
    <div class="effects-grid gear-header creation">
      <div style="grid-column: 1 / 4;">{{ localize 'AOV.devPhase' }}</div>
    </div>
    <div class="statsgrid">
      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.experience'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.expImprov}}secIcon{{else}}priIcon fade{{/if}}"  data-action="experience" data-tooltip="{{ localize 'AOV.experienceHint'}}"><i class="fas fa-dice-three"></i></a>
      </div>

      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.improvement'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.improv}}secIcon{{else}}priIcon fade{{/if}}"  data-action="training" data-tooltip="{{ localize 'AOV.skillTrain'}}"><i class="fas fa-book-open"></i></a>
      </div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.improv}}secIcon{{else}}priIcon fade{{/if}}"  data-action="research" data-tooltip="{{ localize 'AOV.skillResearch'}}"><i class="fas fa-books"></i></a>
      </div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.improv}}secIcon{{else}}priIcon fade{{/if}}"  data-action="statimp" data-tooltip="{{ localize 'AOV.statImp'}}"><i class="fas fa-dumbbell"></i></a>
      </div>
    </div>
    <br>
  {{/if}}

 {{!-- Victory Sacrifice Phase --}}
  {{#if isVictory}}
    <div class="effects-grid gear-header creation">
      <div style="grid-column: 1 / 4;">{{ localize 'AOV.victoryPhase' }}</div>
    </div>
    <div class="statsgrid">
      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.experience'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.expImprov}}secIcon{{else}}priIcon fade{{/if}}"  data-action="experience" data-tooltip="{{ localize 'AOV.experienceHint'}}"><i class="fas fa-dice-three"></i></a>
      </div>

      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.improvement'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.improv}}secIcon{{else}}priIcon fade{{/if}}"  data-action="training" data-tooltip="{{ localize 'AOV.skillTrain'}}"><i class="fas fa-book-open"></i></a>
      </div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.improv}}secIcon{{else}}priIcon fade{{/if}}"  data-action="research" data-tooltip="{{ localize 'AOV.skillResearch'}}"><i class="fas fa-books"></i></a>
      </div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.improv}}secIcon{{else}}priIcon fade{{/if}}"  data-action="statimp" data-tooltip="{{ localize 'AOV.statImp'}}"><i class="fas fa-dumbbell"></i></a>
      </div>
      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.worship'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.worship}}secIcon{{else}}priIcon fade{{/if}}" data-action="worship" data-tooltip="{{ localize 'AOV.worshipHint'}}"><i class="fas fa-user-beard-bolt"></i></a>
      </div>
      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.farmCirc'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.farming}}secIcon{{else}}priIcon fade{{/if}}"  data-action="farming" data-tooltip="{{ localize 'AOV.farmCircHint'}}"><i class="fas fa-cow"></i></a>
      </div>
      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.vadmalProd'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.vadprod}}secIcon{{else}}priIcon fade{{/if}}"  data-action="vadprod" data-tooltip="{{ localize 'AOV.vadmalProdHint'}}"><i class="fas fa-sheep"></i></a>
      </div>
      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.aging'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.aging}}secIcon{{else}}priIcon fade{{/if}}"  data-action="aging" data-tooltip="{{ localize 'agingHint'}}"><i class="fas fa-person-falling-burst"></i></a>
      </div>
      <div class="stat-val bold new-row" style="grid-column: 1 / 3;  padding-top:3px;">{{localize 'AOV.familyRolls'}}</div>
      <div class="stat-val rollable centre">
        <a class="icon20 {{#if system.family}}secIcon{{else}}priIcon fade{{/if}}"  data-action="familyroll" data-tooltip="{{ localize 'AOV.familyRollsHint'}}"><i class="fas fa-family"></i></a>
      </div>

    </div>
    <br>
  {{/if}}


  {{!-- All Active Effects --}}
  <ol class="gear-list">
    <div class="effects-grid gear-header {{#if singleColour}}primBackCol{{else}}terBackCol{{/if}}">
      <div class="diff-label left">{{localize 'AOV.sourceItem'}}</div>
      <div class="diff-label left">{{localize 'AOV.effectName'}}</div>
      <div class="diff-label centre">{{localize 'AOV.effect'}}</div>
      <div class="diff-label centre">{{localize 'AOV.amount'}}</div>
      <div class="diff-label centre">{{localize 'AOV.active'}}</div>
    </div>

    {{#each effects as |effect|}}
      <li class="item item-edit effects-grid" data-item-id = "{{effect.id}}" {{#if effect.sourceItem}} data-document-class='Item'{{/if}}>
        <div class="effect-source left truncate {{#if effect.sourceItem}}rollable{{/if}}" {{#if effect.sourceItem}} data-tooltip="{{localize 'AOV.viewOnly'}}" data-action="viewDoc" data-preventDel="true"{{/if}}>{{effect.sourceName}}</div>
        <div class="effect-source left truncate">{{effect.effectName}}</div>
        <div class="centre truncate" data-tooltip="{{effect.name}}">{{effect.name}}</div>
        <div class="centre">{{effect.value}}</div>
        {{#if effect.isActive}}
        <div class="centre" data-tooltip="{{localize 'AOV.active'}}">
          <img class="aura-img" src="systems/aov/art-assets/inverse-aura.svg" height="18" width="18" />
        </div>
        {{else}}
        <div class="centre" data-tooltip="{{localize 'AOV.inactive'}}">
          <img class="aura-img fade" src="systems/aov/art-assets/inverse-aura.svg" height="18" width="18" />
        </div>
        {{/if}}
      </li>
    {{/each}}
  </ol>

  {{!-- Active Effect Items on Actor --}}
  {{#if actor.effects.size}}
    <br>
    <ol class="gear-list">
      <div class="effects-grid gear-header {{#if singleColour}}primBackCol{{else}}terBackCol{{/if}}">
        <div class="diff-label left" data-tooltip="{{localize 'AOV.effectActorHint'}}">{{localize 'AOV.effectActor'}}</div>
        <div class="diff-label centre">{{localize 'AOV.active'}}</div>
        <div class="centre">
          <a class="item-control item-create" data-tooltip="{{localize 'SIDEBAR.ACTIONS.CREATE.ActiveEffect'}}" data-action="createEffect">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>

      {{#each actor.effects as |effect|}}
        <li class="item item-edit effects-grid" data-effect-id="{{effect.id}}">
          <div class="effect-source left rollable" data-tooltip="{{localize 'AOV.viewDoc' type=(localize 'DOCUMENT.ActiveEffect')}}" data-action="viewActiveEffect">{{effect.name}}</div>
          <div class="centre" data-tooltip="{{#if effect.active}}{{localize 'AOV.active'}}{{else}}{{localize 'AOV.inactive'}}{{/if}}">
            <a class="item-control item-create" data-action="toggleEffect">
              <img class="aura-img{{#unless effect.active}} fade{{/unless}}" src="systems/aov/art-assets/inverse-aura.svg" height="18" width="18" />
            </a>
          </div>
        </li>
      {{/each}}
    </ol>
  {{/if}}
</section>