<section class='character tab gmTab {{tab.cssClass}}' data-group='primary' data-tab='gmTab'>
  <div class="bold">{{localize 'AOV.gmNotes'}}</div>

  {{! Editor for description}}
  <div class="item-notes">
    <prose-mirror name="system.gmNotes" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.gmNotes}}"
      collaborate="true" toggled="true">
      {{{enrichedGMNotes}}}
    </prose-mirror>
  </div>
  <br>
  {{! Bonuses etc}}

  <div class="bold">{{localize 'AOV.bonuses'}}</div>
  <div class="statBonus">
    <div class="gear-name left new-row bold">{{localize 'AOV.maxHPBonus'}}</div>
    <div class='gear-name centre'>
      <input class="stat-input" name='system.hp.bonus' type='number' value='{{system.hp.bonus}}'/>
    </div>
    <div class="gear-name left new-row bold">{{localize 'AOV.maxMPBonus'}}</div>
    <div class='gear-name centre'>
      <input class="stat-input" name='system.mp.bonus' type='number' value='{{system.mp.bonus}}'/>
    </div>
    <div class="gear-name left new-row bold" data-tooltip="{{localize 'AOV.totalAPBonusHint'}}">{{localize 'AOV.totalAPBonus'}}</div>
    <div class='gear-name centre'>
      <input class="stat-input" name='system.apBonus' type='number' value='{{system.apBonus}}'/>
    </div>
    <div class="gear-name left new-row bold">{{localize 'AOV.healRateBonus'}}</div>
    <div class='gear-name centre'>
      <input class="stat-input" name='system.hrBonus' type='number' value='{{system.hrBonus}}'  />
    </div>
  </div>
  <br>

    {{!Quickstart Character Sheet}}
  <div class="statBonus">
    <div class="gear-name left new-row bold">{{localize 'AOV.quickstart'}}</div>
    <div class='gear-name centre' data-action="toggleActor" data-property="quickstart"><a>
      {{#if system.quickstart}}
        <i class="fa-regular fa-square-check"></i>
      {{else}}
        <i class="fa-regular fa-square"></i>
      {{/if}}
    </a></div>
  </div>
</section>