<div class="aov settingsForm flexcol" autocomplete="off">


    <h2 class="bold">{{localize 'AOV.Settings.combatOptions'}}</h2>

    <div class="form-group">
      <label class="bold">{{localize 'AOV.Settings.autoDmg'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked optSet.autoDmg.value}} name="autoDmg">
      </div>
      <p class="settingNote">{{localize 'AOV.Settings.autoDmgHint'}}</p>
    </div>
    <br>

    <div class="form-group">
      <label class="bold">{{localize 'AOV.Settings.combatToken'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked optSet.combatToken.value}} name="combatToken">
      </div>
      <p class="settingNote">{{localize 'AOV.Settings.combatTokenHint'}}</p>
    </div>
    <br>

    <div class="form-group">
      <label class="bold">{{localize 'AOV.Settings.combatNarrative'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked optSet.combatNarrative.value}} name="combatNarrative">
      </div>
      <p class="settingNote">{{localize 'AOV.Settings.combatNarrativeHint'}}</p>
    </div>
    <br>

  </div>
