<div class="aov settingsForm flexcol" autocomplete="off">
    <h2 class="bold">{{localize 'AOV.Settings.displayOptions'}}</h2>

    <div class="form-group">
      <label class="bold">{{localize 'AOV.Settings.singleColourBar'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked optSet.singleColourBar.value}} name="singleColourBar">
      </div>
      <p class="settingNote">{{localize 'AOV.Settings.singleColourBarHint'}}</p>
    </div>

    <br>

    <div class="form-group">
      <label class="bold">{{localize 'AOV.Settings.smallScreen'}}</label>
      <div class="form-fields" style="flex: 1;">
        <input type="checkbox" {{checked optSet.smallScreen.value}} name="smallScreen">
      </div>
      <p class="settingNote">{{localize 'AOV.Settings.smallScreenHint'}}</p>
    </div>

    <br>

  </div>